@tailwind base;
@tailwind components;
@tailwind utilities;
html, body {
  @apply bg-[#1ecda4] text-[#f9fafb];
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: dark;
  color: #407db6;
  background-color: #1ecda4; /* verde oscuro fuerte */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #3683aa;
}

a {
  font-weight: 500;
  color: #d9eadf; /* verde claro */
  text-decoration: none;
}
a:hover {
  color: #21452d; /* verde más claro */
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 600;
  font-family: inherit;
  background-color: #2c5749;
  cursor: pointer;
  color: #f9fafb;
  transition: all 0.3s ease;
}
button:hover {
  background-color: #456b5f;
  border-color: #3a7962;
  box-shadow: 0px 0px 10px #46ba54;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

input {
  background-color: #7dc0ad;
  border: 1px solid #b8bebc;
  border-radius: 8px;
  padding: 0.5rem 1rem;
  color: #f9fafb;
}
input:focus {
  outline: none;
  border-color: #6ee7b7;
  box-shadow: 0px 0px 8px #6ee7b7;
}

h1 {
  font-size: 3em;
  line-height: 1.1;
  font-weight: 700;
}
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}

.animate-fadeIn {
  animation: fadeIn 0.25s ease-out;
}
