@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: #f9fafb;
  background-color: #131b19; /* verde oscuro fuerte */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #060a09;
}

a {
  font-weight: 500;
  color: #41d276; /* verde claro */
  text-decoration: none;
}
a:hover {
  color: #9eb8a7; /* verde más claro */
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 600;
  font-family: inherit;
  background-color: #182521;
  cursor: pointer;
  color: #f9fafb;
  transition: all 0.3s ease;
}
button:hover {
  background-color: #10211c;
  border-color: #83ac9d;
  box-shadow: 0px 0px 10px #46ba54;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

input {
  background-color: #7dc0ad;
  border: 1px solid #b8bebc;
  border-radius: 8px;
  padding: 0.5rem 1rem;
  color: #f9fafb;
}
input:focus {
  outline: none;
  border-color: #6ee7b7;
  box-shadow: 0px 0px 8px #6ee7b7;
}

h1 {
  font-size: 3em;
  line-height: 1.1;
  font-weight: 700;
}
